
<form class="example-form" [formGroup]="updateTransport">
            <div [formGroupName]="i"
            *ngFor="let station of stationsinputs.controls; let i=index">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>transportation id</mat-label>
                      <input matInput placeholder="Station123" formControlName="transport">
                    </mat-form-field></td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="standard">
                            <mat-label>arrival</mat-label>
                            <input matInput type="time" formControlName="arrival">
                        </mat-form-field></td>
                  </tr>
                </table>
        </div>
</form>