
<form class="example-form" [formGroup]="updateTransport">
{{transport.key}} <button mat-raised-button (click)="addStation('','')">add</button>
  <div formArrayName="stationsinputs">
            <div [formGroupName]="i"
            *ngFor="let station of stationsinputs.controls; let i=index">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>transportation id</mat-label>
                      <input matInput placeholder="Station123" formControlName="station">
                    </mat-form-field></td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="standard">
                            <mat-label>arrival</mat-label>
                            <input matInput type="time" formControlName="arrival">
                        </mat-form-field></td>
                      <td><button mat-raised-button color="warn" (click)="deleteStation(i)">delete</button></td>
                  </tr>
                </table>
        </div>
        </div>
        <button mat-raised-button color="primary" [disabled]="updateTransport.invalid" (click)="onSave()">Save</button>
</form>