<div class="d-flex justify-content-center form-container">
    <div class="col-md-6 bg-white shadow rounded-lg pt-2 pb-5">
        <nav class="navbar pt-3 pb-4">
            <form class="container-fluid justify-content-center">
                <button class="btn-nav me-3 mb-2 b" routerLink="./login" routerLinkActive="active">Login</button>
                <button class="btn-nav me-3 mb-2" routerLink="./register" routerLinkActive="active">Register</button>
            </form>
        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
