
<mat-dialog-content>
  <mat-card tdMediaToggle="gt-xs" Class="['push-sm']">
  <mat-card-header class="bg-warning mt-1">
    <mat-card-title class="text-light"> Comments</mat-card-title>
</mat-card-header>
  <mat-list>
    <ng-template let-item let-i="index" let-last="last" ngFor let-comment [ngForOf]="comments">
      <mat-list-item>
        <img mat-list-avatar [src]="comment.account_id.photoURL" />
        <h2 mat-line class="font-weight-bold text-secondary"> {{comment?.account_id?.firstName}} {{comment?.account_id?.lastName}}</h2>
        <p mat-column class="text-muted" ><small>
          {{comment?.created_at | date:'short'}}
        </small></p>
        <div mat-column>
          <button type="button" *ngIf="comment?.deletable" class="close" aria-label="Close" >
            <!-- (click)="comfirmDialog(comment?._id)" -->
            <span class="colorchanged" aria-hidden="true">&times;</span>
          </button>
        </div>
        <h3 style="color : gray" mat-line>
          <span class="text-wrap">
           {{comment?.content}}
          </span>
        </h3>
      </mat-list-item>
      <mat-divider *ngIf="!last" mat-inset></mat-divider>
    </ng-template>
  </mat-list>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea name="text" matInput [(ngModel)]="myText" placeholder="Leave a comment">

    </textarea>


</mat-form-field>
<!--
  Error a revoir
<emoji-input name="text" [(ngModel)]="myText"
[closeAfterSelection]="false"
style="display: inline-block;"
(click)="openPopup(false)"

(setPopupAction)="setPopupAction($event)">
</emoji-input> -->
<div class="add">
  <a class="btn btn-warning" (click)="addComment()">
    Comment  <i class="fa fa-send-o"></i>
  </a>
</div>
</mat-card>
</mat-dialog-content>
