.bg-info{

  border-radius: 20px;
}
.colorchanged:hover {
  color: red;
}

.add {
  display: flex;
  justify-content: flex-end;
}

::ng-deep {
  .mat-dialog-container {
      padding-top: 2px;
  }

}
