<h2 mat-dialog-title>Add transport</h2>
<form class="example-form" [formGroup]="addTransport">
  <mat-form-field>
    <mat-label></mat-label>
    <mat-select formControlName="type">
      <mat-option value="/buses">bus</mat-option>
      <mat-option value="/metros">metro</mat-option>
      <mat-option value="/TGM">tgm</mat-option>
    </mat-select>
  </mat-form-field>    
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="standard">
                <mat-label>name</mat-label>
                <input matInput  formControlName="name">
            </mat-form-field> </td>
            <td><mat-form-field class="example-full-width" appearance="standard">
                <mat-label>total seats</mat-label>
                <input type="number" matInput  formControlName="seats">
            </mat-form-field> </td>
          </tr>
        </table>
        <h5 class="text-secondary"><i class="fa fa-plus-circle mr-2" color="primary" (click)="addStation()"></i>stations</h5>
        <div formArrayName="stations">
            <div [formGroupName]="i"
            *ngFor="let station of stations.controls; let i=index">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="standard">
                      <mat-label>station name</mat-label>
                      <input matInput placeholder="Bus123" formControlName="station">
                    </mat-form-field></td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="standard">
                            <mat-label>arrival</mat-label>
                            <input matInput type="time" formControlName="arrival">
                        </mat-form-field></td>
                  </tr>
                </table>
            </div>
        </div>
</form>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="addTransport.invalid" [mat-dialog-close]="true" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
