<div class="main row justify-content-center mt-3">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form [formGroup]= "loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email address" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="pwd">
                </div>
            </form>
            <div class="d-flex justify-content-end mb-3">
                <div class="d-flex justify-content-end">
                    <a class="forgot" (click)="forgotPwdUpdate()">Forgot password?</a>
                </div>
            </div>
            <button (click)="auth.emailSignin(loginForm.get('email').value, loginForm.get('pwd').value)" type="submit" class="btn login-btn b btn-block mb-4 ">Sign in</button>
            <div *ngIf="forgotPwd">
                <app-pwd-reset></app-pwd-reset>
            </div>
        </div>
    </div>

</div>
<div class="row">
  <div class="col-lg- order-1 order-lg-2 hero-img">
    <img src="assets/home.png" class="img-fluid animated" alt="">
</div>
</div>

