.example-container {
    overflow: auto;
  }
  
  table {
    width: 800px;
  }
  i {
    cursor: pointer;
  }
  i:hover {
    opacity: 0.6;
  }

  ::ng-deep {
    .mat-dialog-container {
        padding: 0;
    }
  
  }