@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap');
header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    background: rgb(63 96 153 / 90%);
}


/* navbar*/

.navbar {
    display: block;
}

.logo {
    max-height: 60px;
    margin: 0 50px;
}

.navbar-items {
    padding: 0;
}

.navbar-items ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.container-fluid {
    width: auto;
}

.navbar li {
    position: relative;
    padding: 0 1rem 0 1rem;
}

.nav-item {
    position: relative;
}

.nav-item a,
.nav-item a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.nav-item a i,
.nav-item a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.nav-item a:hover,
.active {
    color: #47b2e4 !important;
}

.signIn-btn {
    padding: 8px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
}

.sign-link {
    color: #fff;
    text-decoration: none;
}

.sign-link:hover {
    color: #fff;
}

.signIn-btn:hover {
    background: #31a9e1;
}

.webnav {
    margin-right: 80px;
}

.dropdown-menu {
    display: block !important;
    padding: .5rem 0 !important;
    margin: .125rem 0 0 !important;
}
.dropdown-menu li{
    padding: 0;
}
.btn-dropdown {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
}
.dropdown-item {
    padding: .25rem 1.5rem;
}
.btn-dropdown:focus,
.btn-dropdown:focus {
    color: #31a9e1;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 80px;
}


/* footer*/

.me-4 i:hover {
    color: rgb(63 96 153 / 90%);
}

.footer-container {
    margin: 0 auto;
    text-align: start !important;
}

.social-logos i {
    margin: 0 5px;
}

