<section id="home" class="d-flex align-items-center">

  <div class="container">
      <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1>We think about Transport, so you don’t have to.</h1>
              <h2>If you need to get anywhere, you need TransEasier
              </h2>
              <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="#" class="btn-get-started">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/home.png" class="img-fluid animated" alt="">
          </div>
      </div>
  </div>
</section>
<section class="features">
  <h2 class="title ">Features</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 features-container ">

      <div class="col ">
          <div class="card h-100 ">
              <img src="https://image.flaticon.com/icons/png/512/1042/1042261.png " class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Public Transport Schedules</h5>
                  <p class="card-text ">Users can easily access to the public means of transport Schedules: departure , through the platform, Mobile App or through the panels in the station.
                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card h-100 ">
              <img src="https://image.flaticon.com/icons/png/512/4693/4693395.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">A set of Panels</h5>
                  <p class="card-text ">TransEasier will provide a set of panels in each station connected to the platform and mobile App indicating real-time information.
                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card h-100 ">
              <img src="https://image.flaticon.com/icons/png/512/854/854878.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Maps</h5>
                  <p class="card-text ">Users can easily access to a map service that helps to find the shortest way to his destination with some other information.</p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card h-100 ">
              <img src="https://image.flaticon.com/icons/png/512/1182/1182718.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Notifications</h5>
                  <p class="card-text ">Our notifications system will offer the users real-time information about arrivals and departures.
                  </p>
              </div>
          </div>
      </div>
      <div class="col ">
          <div class="card h-100 ">
              <img src="https://image.flaticon.com/icons/png/512/3249/3249026.png" class="card-img-top" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Clear indications about time, weather conditions, Traffic</h5>
                  <p class="card-text ">Users can easily get this information, through the platform, Mobile App or through the panels in the station.
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 features-container ">

    <div class="col ">
        <div class="card h-100 ">
            <img src="https://image.flaticon.com/icons/png/512/1042/1042261.png " class="card-img-top" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">Public Transport Schedules</h5>
                <p class="card-text ">Users can easily access to the public means of transport Schedules: departure , through the platform, Mobile App or through the panels in the station.
                </p>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card h-100 ">
            <img src="https://image.flaticon.com/icons/png/512/4693/4693395.png" class="card-img-top" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">A set of Panels</h5>
                <p class="card-text ">TransEasier will provide a set of panels in each station connected to the platform and mobile App indicating real-time information.
                </p>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card h-100 ">
            <img src="https://image.flaticon.com/icons/png/512/854/854878.png" class="card-img-top" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">Maps</h5>
                <p class="card-text ">Users can easily access to a map service that helps to find the shortest way to his destination with some other information.</p>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card h-100 ">
            <img src="https://image.flaticon.com/icons/png/512/1182/1182718.png" class="card-img-top" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">Notifications</h5>
                <p class="card-text ">Our notifications system will offer the users real-time information about arrivals and departures.
                </p>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card h-100 ">
            <img src="https://image.flaticon.com/icons/png/512/3249/3249026.png" class="card-img-top" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">Clear indications about time, weather conditions, Traffic</h5>
                <p class="card-text ">Users can easily get this information, through the platform, Mobile App or through the panels in the station.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
