<div class="container">
  <!-- Main Body -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col-6 pb-4" *ngFor="let feedback of feedbacks">
                <div class="comment mt-4 text-justify float-left">
                  <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>{{feedback?.account_id?.userName}}</h4> <span>{{feedback?.created_at}}</span> <br>
                    <p>
                      {{feedback?.content}}
                    </p>
                      <input (click)="openDialog(feedback?._id)" class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
                      <label for="modal-btn">Reply <i class="uil uil-expand-arrows"></i></label>
                </div>
          </div>
          <!-- <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
              <form id="algin-form">
                  <div class="form-group">
                      <h4>Leave a comment</h4> <label for="message">Message</label>
                      <textarea name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                  </div>
                  <div class="form-group"> <label for="name">Title</label> <input type="text" name="name" id="fullname" class="form-control"> </div>

                  <div class="form-group"> <button type="button" id="post" class="btn" >Post Comment</button> </div>
              </form>
              ç_gftr

          </div> -->
      </div>
  </div>
  </section>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  </div>
