<div class="container">
  <!-- Main Body -->
  <section>
    <div class="container">
        <div class="row" *ngFor="let feedback of feedbacks">

            <div class="col-md- pb-4" >
                <div class="comment mt-4 text-justify float-left">
                  <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>{{feedback?.account_id?.firstName + " " + feedback?.account_id?.lastName}}</h4> <span>{{feedback?.created_at | date:'medium'}}</span> <br>
                    <p>
                      {{feedback?.content}}
                    </p>
                      <input (click)="openDialog(feedback?.key, feedback?.comments)" class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
                      <label for="modal-btn">Reply <i class="uil uil-expand-arrows"></i></label>
                </div>
          </div>

      </div>
      <div class="row">
        <div class="col-sm mt-1 mb-3">
          <form id="algin-form">
              <div class="form-group">
                  <h4>Leave a comment</h4> <label for="message">Message</label>
                  <textarea [(ngModel)]="content" name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
              </div>
              <div class="form-group" (click)="addfeedback()"> <button type="button" id="post" class="btn" >Post Comment</button> </div>
          </form>
      </div>
      </div>


  </div>
  </section>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  </div>
