
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
            <mat-button-toggle routerLink="./users" routerLinkActive="mat-button-toggle-checked">user management</mat-button-toggle>
            <mat-button-toggle routerLink="./transport" routerLinkActive="mat-button-toggle-checked">public transit</mat-button-toggle>
            <mat-button-toggle routerLink="./parking" routerLinkActive="mat-button-toggle-checked">parking</mat-button-toggle>
          </mat-button-toggle-group>
    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-toolbar>
          <h3><i class="fa fa-bars side-bars mr-2" (click)="drawer.toggle()"></i>Dashboard</h3>
      </mat-toolbar>
      <div class="content ml-4">
      <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-container>
