<form [formGroup]="pwdForm">
    <div formGroupName="pwdGroup">
        <h3 class="mb-4">Change Password</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" formControlName="newpwd" [ngClass]="{'is-invalid': pwdForm.get('pwdGroup').errors ||
                    ((pwdForm.get('pwdGroup.newpwd').touched ||
                     pwdForm.get('pwdGroup.newpwd').dirty) &&
                     pwdForm.get('pwdGroup.newpwd').invalid) }" />
                    <span class="invalid-feedback">
                        <span *ngIf="pwdForm.get('pwdGroup.newpwd').errors?.required">
                            You need to enter your password.
                        </span>
                        <span *ngIf="pwdForm.get('pwdGroup.newpwd').errors?.minlength">
                            The password must be longer than 8 characters.
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" formControlName="confirmPwd" [ngClass]="{'is-invalid': pwdForm.get('pwdGroup').errors ||
                    ((pwdForm.get('pwdGroup.confirmPwd').touched || 
                     pwdForm.get('pwdGroup.confirmPwd').dirty) && 
                     !pwdForm.get('pwdGroup.confirmPwd').valid) }" />
                    <span class="invalid-feedback">
                        <span *ngIf="pwdForm.get('pwdGroup.confirmPwd').errors?.required; else pwdunmatch">
                            You need to confirm your password.
                        </span>
                        <ng-template #pwdunmatch>
                            <span *ngIf="pwdForm.get('pwdGroup').errors?.match">
                                The password confirmation does not match.
                            </span>
                        </ng-template>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <button class="btn update" [disabled]="pwdForm.invalid"
                (click)="auth.changePwd(pwdForm.get('pwdGroup.newpwd').value)">Update</button>
                <a class="forgot ml-2" (click)="forgotPwdUpdate()">Forgot password?</a>
        </div>
        <div *ngIf="forgotPwd" class="mt-3">
            <app-pwd-reset></app-pwd-reset>
        </div>
    </div>
</form>