<div id="password">
    <h3 class="mb-4">Change Password</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Current password</label>
                <input type="password" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Confirm new password</label>
                <input type="password" class="form-control">
            </div>
        </div>
    </div>
    <div>
        <button class="btn update">Update</button>
    </div>
</div>