<div>
    <p class="d-flex justify-content-center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle routerLink="./bus" routerLinkActive="mat-button-toggle-checked">Bus</mat-button-toggle>
          <mat-button-toggle routerLink="./metro" routerLinkActive="mat-button-toggle-checked">metro</mat-button-toggle>
          <mat-button-toggle routerLink="./TGMs" routerLinkActive="mat-button-toggle-checked">TGM</mat-button-toggle>
          <mat-button-toggle routerLink="./stations" routerLinkActive="mat-button-toggle-checked">Stations</mat-button-toggle>
        </mat-button-toggle-group>
    </p>
</div>
<div class="d-flex justify-content-between align-items-center">
    <mat-form-field class="w-25" appearance="standard">
        <mat-label>Filter</mat-label>
        <input type="text" matInput placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="buttons group">
        <button mat-raised-button class="h-50 mr-4" (click)="Dialog.openDialog(addTransportRef, {})">add transport</button>
        <button mat-raised-button class="h-50 mr-4" (click)="Dialog.openDialog(addStationRef, {})">add station</button>
    </div>
</div>
<router-outlet></router-outlet>
